* {
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    /*
    naprawa fonta Raleyway:;
    https://medium.com/newsbrewer-app/what-s-wrong-with-one-of-the-most-elegant-typefaces-raleway-662e1e7bc7f7
    */
    font-feature-settings: "lnum";
}